<link rel="stylesheet" href="style.css">
<p><a href="https://awesome.re"><img src="https://awesome.re/badge.svg" alt="Awesome" /></a></p>
<p>Collection of awesome projects on LBRY.</p>
<h2 id="clients">Clients</h2>
<ul>
<li><a href="https://notabug.org/jyamihud/FastLBRY-terminal">FastLBRY</a> <br> A fully featured, terminal application to interact with LBRY. It will allow watching videos, download files, view and send comments, upload new files. This stage is half finished.</li>
<li><a href="https://github.com/lbryio/lbry-desktop">LBRY Desktop</a> <br> Official LBRY desktop client based on Electron.</li>
<li><a href="https://gitlab.com/gardenappl/lbt">lbt</a> <br> lbt is a collection of command-line tools for interacting with the LBRY network, written in POSIX shell.</li>
</ul>
<h2 id="applications">Applications</h2>
<ul>
<li><a href="https://hound.fm/music/latest">Hound.fm</a> <a href="https://github.com/Hound-fm">(git)</a> <br> Audio content agregator for LBRY.</li>
</ul>
<h2 id="scripts-one-purpose-applications">Scripts &amp; one-purpose applications</h2>
<ul>
<li><a href="https://gitlab.com/gardenappl/lbry-sync-ytdl">lbry-sync-ytdl</a> <br> lbry-sync-ytdl is a shell script for uploading content to LBRY using youtube-dl.</li>
<li><a href="https://gitlab.melroy.org/melroy/lbry-channel-feed">lbry-channel-feed</a> <br> LBRY RSS Feed provider 🗞 - Support channels at the moment (RSS, Atom &amp; JSON).</li>
<li><a href="https://odysee.com/$/list/3a8c64f781ab2ed2d17f8f808c708a5ee0b04423">LBRY Utility Scripts</a> <br> Various python scripts for LBRY by Brendon Brewer. <br>
<ul>
<li>A Python script to download all content (or just recent content) from a single LBRY channel</li>
<li>A Python script to check all your LBRY vanity names (LBRY Desktop)</li>
<li>A Python tool to manage stalled LBRY downloads</li>
<li>A Python script to delete files from your LBRY Library on a per-channel basis</li>
<li>Estimate your LBRY seeding ratio with this little Python script</li>
</ul></li>
<li><a href="https://github.com/Blanxs/LBRYFileUploader">LBRYFileUploader</a> <br> Java based mass file uploader for LBRY.</li>
<li><a href="https://github.com/neofutur/lbry_discord_repost_bot">lbry_discord_repost_bot</a> <br> Discord bot to post new uploads on a LBRY channel to a specific discord channel.</li>
</ul>
<h2 id="browser-extensions">Browser extensions</h2>
<ul>
<li>Watch on Odysee <a href="https://addons.mozilla.org/en-GB/firefox/addon/watch-on-odysee/">Firefox</a> <a href="https://chrome.google.com/webstore/detail/watch-on-odysee/kofmhmemalhemmpkfjhjfkkhifonoann">Chromium</a> <a href="https://github.com/kodxana/Watch-on-Odysee">GitHub</a> <br> Plugin that automatically redirects you to the Odysee version of any video on YouTube that is available on Odysee.</li>
<li>Watch on LBRY <a href="https://addons.mozilla.org/en-US/firefox/addon/watch-on-lbry/">Firefox</a> <a href="https://chrome.google.com/webstore/detail/watch-on-lbry/jjmbbhopnjdjnpceiecihldbhibchgek">Chromium</a> <a href="https://github.com/LBRYFoundation/Watch-on-LBRY">GitHub</a> <br> Plug that automatically redirects you to the LBRY network when it detects that the YouTube video is there.</li>
<li>LBRY Link <a href="https://chrome.google.com/webstore/detail/lbry-link/bnhpdmdbfbnopgncbpgdkidpnmkbidfa">Chromium</a> <a href="https://github.com/neb-b/lbry-link">GitHub</a> <br> Makes <code>lbry://</code> links clickable.</li>
<li>LBC Today <a href="https://addons.mozilla.org/en-GB/firefox/addon/lbc/">Firefox</a> <a href="https://chrome.google.com/webstore/detail/lbc-today/ealgadmpgaefckfpclemccenfkjihedn">Chromium</a> <a href="https://github.com/VladHZC/lbc-today/projects">GitHub</a> <br> Check LBC price live on your browser.</li>
</ul>
<h2 id="libraries-apis">Libraries &amp; API’s</h2>
<ul>
<li><a href="https://github.com/lbryio/lbry-sdk">LBRY SDK (lbrynet)</a> <br> LBRY SDK for Python is currently the most fully featured implementation of the LBRY Network protocols and includes many useful components and tools for building decentralized applications.</li>
<li><a href="https://github.com/eggplantbren/lbry-trending-algos">lbry-trending-algos</a> <br> Various LBRY trending algorithms by Brendon Brewer.</li>
<li><a href="https://github.com/belikor/lbrytools">lbrytools</a> <br> A library of functions that can be used to manage the download of claims from the LBRY network. It includes methods to download claims by URI (canonical url), claim ID, or from specific channels.</li>
</ul>
