body {
    background-color: #FDF0ED;
    color: #16161C;

    max-width: 40vw;
    margin: auto;
    margin-top: 20px;
}

a {
    color: #F43E5C;
}

a:hover {
    color: #f4516c;
}

a:active {
    color: #dc4760;
}

a:visited {
    color: #EE64AE;
}